<div class="col-md-offset-0 col-md-12">
    <h3 class="text-center">Groups list</h3>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div>
                <div class="col-sm-2">
                    <a class="btn btn-primary btn-sm"><i class="fa fa-plus"></i>Add new group</a>
                </div>
                <div class="input-group col-sm-2">
                  <span class="input-group-addon" id="basic-addon1">Sort by:</span>
                  <select class="form-control input-sm" ng-change="go()" ng-model="options.sort_by">
                      <option value="id">Id</option>
                      <option value="name">Name</option>
                  </select>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <th>Id</th>
                    <th>Name</th>
                </thead>
                <tbody ng-repeat="group in data.results">
                    <td>{{ group.pk }}</td>
                    <td>{{ group.name }}</td>
                    <td class="actions">
                        <a  class="btn btn-default"><i class="glyphicon glyphicon-pencil"></i></a>
                        <a class="btn btn-default"><i class="glyphicon glyphicon-trash"></i></a>
                    </td>
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <nav>
              <ul class="pager" ng-show="data">
                <li ng-click="prev_page()"><a href="#">Previous</a></li>
                <li><a href="#">{{ options.page }}</a></li>
                <li ng-click="next_page()"><a href="#">Next</a></li>
              </ul>
            </nav>
        </div>
    </div>
</div>