{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'styles/css/styles.css' %}" rel="stylesheet"/>
    <script type="text/javascript" src="{% static 'js/dist/lib.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dist/main.js' %}"></script>
    <script type="text/javascript">
      window.knowman = {
        currentUser: '{{currentUser}}',
        csrftoken: '{{csrf_token}}'
      };
    </script>
    <title>Knowman project</title>    
  </head>
  <body>
    <div class="main row">
      <div class="side-menu">
        <left-menu></left-menu>
      </div>
      <div class="content">
        <ui-view>
          {% include 'index/index.html' %}
        </ui-view>
      </div>
      <div class="user-bar">
        <right-menu></right-menu>
      </div>
    </div> 
    <footer-block></footer-block>    
  </body>
</html>